/* Header  Styles */
.header {
    min-height: 50px;

    position:relative;
    display: flex;
    justify-content: space-around;
    align-items: center;

    /* background-color: ; */
}
    /* logo style */
.logo {
    background-color: var(--black);

    min-width: 300px;
    min-height: 45px;
}
    /* navigation style */
.nav {
    width: 175px;
    display: flex;
    justify-content: space-between;
}
.nav__btn {
    border-radius: 10px;
}
/* ^-------^------^-------^-------^-------^-------^-------^ */

/* Main Styles */
.main {
    width: 90%;
    margin: 2rem auto 0 auto;
}
.container {
    display: grid;
    background: hsl(194, 54%, 65%);
    border: 2px solid black;
    border-radius: 20px;

    h1 {
        display: flex;
        justify-content: center;
    }
    h2 {
        display: flex;
        justify-content: center;
    }
    .list {
        display: flex;
        justify-items: center;
        align-items: center;
        justify-content: center;

        p {
            text-align: center;
            color: var(--white);
            font-size: var(--fts-smed);
            padding: 5px 2px 5px 2px;

            letter-spacing: 1px;
        }
        p:not(:last-child) {
            margin-right: 10px;
        }
    }
    .content {
        font-size: var(--fts-med);
        text-align: center;
        letter-spacing: 1px;
    }

    #btn-mid {
        display: flex;
        justify-content: center;

        padding: 5px;

        button {
            width: 150px;
            height: 30px;
        }
    }

}

/* ^-------^------^-------^-------^-------^-------^-------^ */

/* Footer Styles */
.footer {
    font-size: var(--fts-small);

    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);

    a {
        color: var(--black);
        text-decoration: none;
        letter-spacing: 2px;

        &:hover {
            color: var(--mycolor);
        }
    }
}
/* ^-------^------^-------^-------^-------^-------^-------^ */