.main{
    /* background-color: hsl(0, 4%, 53%); */
    width: 95%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.main__top {
    display: grid;
    justify-items: center;
    margin-bottom: 1rem;

    #welcomeUser {
        width: 90%;
        margin: 0rem 0 0rem 0;
        padding: 0;
        font-size: var(--fts-lmed);
        font-weight: var(--ft-bold);
        color: var(--white);

        display: flex;
        align-items: center;
        justify-content:space-around;
        gap: 60%;
    }
    #settingUser {
        display: grid;
        justify-content: center;

    }   
}
.main__middle {
    
}
.main__bottom {
    
}
/*  Global */
.auto__scroll {
    overflow: auto;
}
.stopScroll  {
    overflow-y: hidden;
}

/* media queries  */
@media (width < 500px) {
    
    .main__top {
        justify-content: center;
        width: 100%;

        #welcomeUser {
            width: 100%;
            display: flow;
            text-align: center;

        }
        #settingUser {
            display: flex;
            align-items: baseline;
            justify-content: space-around;

            btn {
                max-width: 50px;
            }
        }
    }
    
}