.main__content {
    /* border: 1px solid red; */
}
.content__subtitle {
    margin-left: 5%;

    color: var(--white);
    font-weight: 600;
}
.content__card {
    margin: 0.5rem;
    border-radius: 5px;
}
#contentScratchcard {
    display: flex;
    width: 90%;
    height: 300px;
    
    margin-left: auto;
    margin-right: auto;

    background-color: var(--white);
    border: 1px solid var(--lg--fifth);
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 77px 20px rgba(195,202,229,1);
    -moz-box-shadow: 0px 0px 77px 20px rgba(195,202,229,1);
    box-shadow: 0px 0px 77px 20px rgba(195,202,229,1);

}
.cards__info {
    height: 75%;
    min-width: 350px;
    margin: 1rem 1rem 0 1rem;
    padding: 0.6rem;

    background-color: #D8D8D8;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
}
.cardImage {
    max-width: 200px;
    max-height: 200px;
}
.contentUser {
    color: var(--black);
}
.details-btn {
    margin-left: 1rem;
    min-height: 23px;
    margin-top: 5px;

    &:hover {
        background-color: yellow;
    }
}

.cardWinLeft {
    margin-right: 2rem;
}
#contentUserCards {
    color: var(--black);
    
/* added different color */
    background-color: var(--white);
    width: 50%;
    margin-left: 5%;

}
/* ----------- Components inside ----------------- */
/* ------ Details Component------*/
.details__hidden {
    display: none;
}
.details__show {
    position: absolute;
    background-color: lightblue;
    width: 55%;
    height: 90%;

    border: 8px solid var(--primary);

    margin: 0;
    padding: 0;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 9;
}
.breakLine {
    width: 130%;
    height: 3px;
    border-radius: 50%;
    background-color: var(--extraColor);
}
.display {
    width: 100%;
    display: grid;
    justify-items: center;
    align-items: start;
    justify-content: center;
    align-content: center;
    height: 100%;
}
.card__details__top {
    position: absolute;
    margin-top: 10%;
    padding: 0;
}
.card__title {
    font-size: var(--fts-lmed);
}
.card__details__weight {
    font-weight: var(--ft-bold);
}
.card__details__info {
    width: 100%;
    margin: 0 0.5rem 0 0.5rem;
}
.wining__calculation {
    width: 100%;
    margin: 0 0.5rem 0 0.5rem;
}
.font__Size {    
    font-size: 1.1rem;
}
.underlined {
    background-color: yellow;
}

#btn-cardDetalis {
    position: absolute;
    right: 1rem;
    top: 1rem;

    max-width: 10px;
    max-height: 10px;
    border-radius: 15px;
}
/* Content User Add Scratchcard Compmponent */
.contentUserAddScratchcard {
    margin: 1rem;
    padding-top: 5px;
}
.added__cards__info {
    height: 100%;
    min-width: 200px;

    margin: 1rem 1rem 0 1rem;
    
    background-color: var(--win98);
    border: 5px solid goldenrod;
    border-radius: 8px;
    
    display: grid;
    justify-content: center;
    text-align: center;
}
#userAddedScratchcard__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* I section */
#lastCards {
        color: black;
        display: flex;
        width: 100%;
        /* border: 1px solid red; */
}

/* II section */
#addCards {
    /* background-color: lightcoral; */
    background-color: var(--darkBlue);
    width: 90%;
    height: 90%;
    padding: 0;
    margin: 0;
    

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    z-index: 99999;

    input {
        width: 200px;
    }
}
#addCardsContent {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
}
.hidden-addCards {
    display: none;
}
#hidden-addCard-btn {
    position: absolute;
    right: 15px;
    top: 15px;
    border-radius: 40px;
}
 /* ------- INPUT CARDS ----------- */
#hidden-addCards-inputs {
    background-color: aqua;
    border: 1px solid red;
    width: 30%;
    height: 60%;
    display: grid;

}
#cardsChooseLabel {
    margin-top: 2rem;
}
#cardsChoose {
    width: 70%;
    height: 40px;
    margin-left: 6%;
}
#winning {
    display: none;
    margin-left: 6%;
}
#winQuestion {
    margin: 0rem 0 1rem 6%;
    height: auto;
}
#win-input-radio {

    .input-radio {
        margin: 0;
        padding: 0;
        width: 70px;
    }
}
#addCardBtn {
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    height: 45%;
}

 /* ------- Image card --------- */
#hidden-addCards-img {
    border: 1px solid red;
    width: 30%;
    height: 60%;

    figure {
        width: 100%;
        height: 100%;
        background-color: black;

        margin: 0;
        padding: 0;
    }
    img {
        border: 1px solid blue;
        width: 100%;
        height: 100%;
        min-width: 100px;
        min-height: 100px;
    }
}
.addCards-text {
    color: black;
    font-weight: 700;
    margin-left: 6%;
    font-weight: 700;
    font-size: 20px;
}
.input-radioText {
    margin: 0;
    padding: 0;
}
/* media queries  */
@media (width < 1330px) {
    .card-details {
        width: 70%;
        height: 80%;
    }
    .breakLine {
        width: 120%;
    }
}
@media (width < 930px) {
    #hidden-addCards-inputs {
        width: 60%;
        display: grid;
        justify-items: center;
        margin: 0;
    }
    .card-details {
        width: 85%;
        height: 70%;
    }
    .breakLine {
        width: 110%;
    }
}
@media (width < 750px) {
    #hidden-addCards-inputs {
        background: yellow;
        width: 80%;
        display: grid;
        justify-items: center;
        margin: 0;
    }
    .card-details {
        width: 100%;
    }
    .breakLine {
        width: 110%;
    }
}
@media (width < 600px) {
    #contentScratchcard {
        display: grid;
    }
    .cards__info {
        min-width: 250px;
        max-width: 100%;
    }
    .cardImage {
        max-width: 60%;
        max-height: 100%;
    }
    #contentUserCards {
        width: 90%;       
    }
    #hidden-addCards-inputs {
        background: yellow;
        width: 90%;
        display: grid;
        justify-items: center;
        margin: 0;
    }
    .card-details {
        width: 100%;
        height: 65%;
    }
    .breakLine {
        width: 90%;
        height: 3px;

        background: linear-gradient(45deg, var(--extraColor), var(--white),var(--mycolor));
        background-size: 300% 300%;
        animation: break-line 5s ease-out infinite;
    }
    .wining__calculation {
        width: 70%;
        text-align: center;
    }
    .card__details__info {
        width: 70%;
        text-align: center;
    }
}

@media (height < 900px ) {
    .card-details {
        margin-top: 3rem;
        height: 70%;
    }
}

/* ------ KEY Frames ----------- */

@keyframes break-line {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }