.main {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    width: 95%;
    display: grid;
    column-gap: 10px;
    grid-template-areas: 
    "gridNavBar . . gridSetting"
    "gridNavBar gridContent gridContent gridSetting"
    "gridNavBar gridContent gridContent gridSetting";
}
.main__top {
    border: 3px solid var(--win98);
    box-shadow: 0 0 6px 2px black;
    max-width: 253px;

    grid-area: gridSetting;
    display: grid;
    justify-items: center;

    #welcomeUser {
        width: 90%;
        margin: 0rem 0 0rem 0;
        padding: 0;
        font-size: var(--fts-lmed);
        font-weight: var(--ft-bold);
        color: var(--white);

        display: flex;
        align-items: center;
        justify-content:space-around;
        gap: 60%;
    }
    #settingUser {
        display: grid;
        justify-content: center;

    }   
}
.navBar {
    grid-area: gridNavBar;
    display: grid;
    justify-content: center;
}
.main__middle {
    grid-area: gridContent;
/* change to display main content - change if media query change*/
    max-width: 1000px;
}
.main__bottom {
    
}
/*  Global */
.auto__scroll {
    overflow: auto;
}
.stopScroll  {
    overflow-y: hidden;
}

/* --------- media queries ----------- */
@media (width < 550px) {
    .main__LandingPage {
        width: 100%;
    }
    .container {
        display: grid;
        align-content: space-evenly;
        justify-items: center;
        margin: 0;
    }
    .container__content > h2 {
        text-align: center;
    }
    .container__content {
        display: contents;
        margin: 0;
        margin-left: auto;
        margin-right: 0;
        justify-items: center;
    }
    .main__top {
        justify-content: center;
        width: 170px;

        #welcomeUser {
            width: 100%;
            display: flow;
            text-align: center;

        }
        #settingUser {
            display: grid;
            align-items: baseline;
            justify-content: space-around;

            btn {
                max-width: 50px;
            }
        }
    }
    .container__figure {
        height: auto;
        width: auto;
    }
    .img {
        min-width: 250px;
        min-height: 185px;
    }
    .main {
        grid-template-columns: 
        "gridSetting gridContent"
        "gridSetting gridContent"
        "gridNavBar gridContent"
        "gridNavBar gridContent";

    }
    
}
@media (width > 550px) {
    .container {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;

    }
    .container__figure {
        height: auto;
        width: auto;
    }
    .container__figure > img {
        border-radius: 30%;
    }
    .container__content {
        margin: 0;
    }
    .container__content > h1 {
        justify-content: center;
        
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1rem;
    }
    .container__content > h2 {
        text-align: center;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    .login {
        justify-content: center;
        margin-top: 2rem;
    }
}
@media (height < 800px) {
    .main__top {
        max-height: 720px;
    }
    .main__top {
        width: 100%;
    }
    .main__middle {
        max-width: 400px;
    }
}
@media (width > 1023px) {
    .container {
        flex-direction: row;
    }
    .container__content {
        width: 40%;
    }
    .container__img {
        justify-content: start;
    }
    .container__figure {
        margin: 0;
    }
    .container__figure > img {
        margin: 0;
    }
}
@media (width < 1366px) {
    
}