.main {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    width: 95%;
    display: grid;
    column-gap: 10px;
    grid-template-areas: 
    "gridNavBar . . gridSetting"
    "gridNavBar gridContent gridContent gridSetting"
    "gridNavBar gridContent gridContent gridSetting";
}
.main__top {
    border: 3px solid var(--win98);
    box-shadow: 0 0 6px 2px black;
    max-width: 253px;

    grid-area: gridSetting;
    display: grid;
    justify-items: center;

    #welcomeUser {
        width: 90%;
        margin: 0rem 0 0rem 0;
        padding: 0;
        font-size: var(--fts-lmed);
        font-weight: var(--ft-bold);
        color: var(--white);

        display: flex;
        align-items: center;
        justify-content:space-around;
        gap: 60%;
    }
    #settingUser {
        display: grid;
        justify-content: center;

    }   
}
.navBar {
    grid-area: gridNavBar;
    display: grid;
    justify-content: center;
}
.main__middle {
    grid-area: gridContent;
/* change to display main content - change if media query change*/
    max-width: 1000px;
}
.main__bottom {
    
}
/*  Global */
.auto__scroll {
    overflow: auto;
}
.stopScroll  {
    overflow-y: hidden;
}

/* --------- media queries ----------- */
@media (width < 500px) {
    
    .main__top {
        justify-content: center;
        width: 100%;

        #welcomeUser {
            width: 100%;
            display: flow;
            text-align: center;

        }
        #settingUser {
            display: flex;
            align-items: baseline;
            justify-content: space-around;

            btn {
                max-width: 50px;
            }
        }
    }
}
@media (height < 800px) {
    .main__top {
        max-height: 720px;
    }
    .main__top {
        width: 200px;
    }
}