.setting {
    color: var(--black);
}
.btnModalOpen {
    border-radius: 10px;
    width: 60px;
    height: 25px;
    margin-top: 10px;
}
.settingModal {
    position: absolute;
    width: auto;
    min-width: 40%;
    height: auto;
    z-index: 999;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
    background-color: var(--win98);
    border: 2px solid white;

/* change min-width when screen drop 950px */
    @media (width < 950px) {
        background-color: red;
        
    }
}
.btnModal {
    width: 150px;
}
.changeModal {
    /* border: 1px solid red; */
    /* background-color: white; */
    
}
.changeModalInput {
    width: 350px;
    
    input {
        margin: 0.5rem 0;
        height: 30px;
/* Change input width when Screen dicressing */
        @media (width < 1050px) {
            width: 315px;
        }

    }
    button {
        width: 130px;
        margin-top: 20px;
    }
/* change Input when screen decresing */
    @media (width < 1149px) {
        
    }
}
.change {
    margin: 2rem 0 2rem 2rem;
}
.btnConfChange {

    &:hover {
        background-color: var(--success);
    }
}
.btnCancel {
    
    &:hover {
        background-color: var(--error)
    }
}
.sectionGrid {
    display: grid;
    
    /* margin: 10px 0 10px 0  for label*/
    /* width: 350px;
    height: 30px; for input */
    /* width: 130px; for button */
    /* margin-top: 20px; for button*/
}
#setting-btnClose {
    position: absolute;
    right: 15px;
    top: 10px;
}
#change-password {
    width: 350px;
    
    input {
        margin: 0.5rem 0;
        height: 30px;
    }
    button {
        width: 130px;
        margin-top: 20px;
    }    
}
#change-email {

    input[type=file] {
        width: 200px;

        &::file-selector-button:hover {
            background-color:var(--mycolor);
        } 
    }
    .btn {
        margin-right: 10px;
    }
}