.user {
    font-size: var(--fts-med);
    font-weight: var(--ft-normal);
    text-align: center;
}
#user-greeting {
    font-size: var(--fts-med);
}
@media (width < 500px) {
    .user{
        margin-top: 2rem 0 1rem 0;
    }
}