.user {
    font-size: var(--fts-med);
    font-weight: var(--ft-normal);
    text-align: center;
}
#user-greeting {
    font-size: var(--fts-med);
}
#user-greeting > p{
    font-size: 2rem;
    max-width: 99%;
}
@media (height < 800px) {
    #user-greeting > p {
        font-size: 1rem;
    }
    
}
@media (width < 500px) {
    .user{
        margin-top: 2rem 0 1rem 0;
    }
}