.navBar__style {
    width: 20%;
    /* height: 50%; */
    margin: 0;
    width: 150px;
    border: 3px solid var(--win98);
    box-shadow: 0 0 6px 2px black;

    display: grid;
    grid-gap: 20px;
    justify-content: center;
}
@media (width < 549px){
    .navBar__style {
        display: flex;
        width: 98%;
        max-width: 99%;

        height: 100px;
        max-height: 110px;
        min-height: 0;
    }
}

.boxes__height {
    width: 100%;
    height: 720px;
}
@media (width < 549px){
    .boxes__height {
        max-width: 100%;
        width: 98%;

        max-height: 110px;
        height: 100px;
        min-height: 0;

        display: flex;
        flex-direction: row;
        gap: 20px
    }
}


.navBar__box {
    /* border: 1px solid yellow; */
    max-width: 40px;
    max-height: 40px;
    margin-top: 40px;
    
    border-bottom: 2px solid var(--white);
}
.navBar__box:hover {
    color: blue;
    font-weight: bold;
    border-bottom: 2px solid blue;
}
#box-home {
    color: grey;
    background-image: url('../../img/icons/home.webp');
    width: 64px;
    height: 64px;
    background-repeat: no-repeat;
    background-size: contain;
}
#box-home:hover {
    scale:1.2;
}
#box-stats {
    color: grey;
    background-image: url('../../img/icons/pie-chart.png');
    width: 64px;
    height: 64px;
    background-repeat: no-repeat;
    background-size: contain;
}
#box-stats:hover {
    scale:1.2;
}
#box-profile {
    color: grey;
    background-image: url('../../img/icons/user.png');
    width: 64px;
    height: 64px;
    background-repeat: no-repeat;
    background-size: contain;
}
#box-profile:hover {
    scale:1.2;
}
#box-scratches {
    color: grey;
    background-image: url('../../img/icons/game.png');
    width: 64px;
    height: 64px;
    background-repeat: no-repeat;
    background-size: contain;
}
#box-scratches:hover {
    scale:1.2;
}
@media (width < 1000px) {
    .boxes__height {
        height: auto;
        width: auto;
    }
}