.scratchStats {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 95%;
    /* display:grid;
    column-gap: 10px;
    grid-template-areas:
        "gridNavBar . . gridSetting"
        "gridNavBar gridContent gridContent gridSetting"
        "gridNavBar gridContent gridContent gridSetting"; */
}
.scratchStats__content {
    position: absolute;
    width: 75%;
    min-width: 30%;
    height: 950px;
    max-height: 95%;
    /* z-index: 999; */
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
    /* background-color: var(--win98); */
    border: 2px solid white;
    box-shadow: 0px 0px 10px 1px var(--white);
}
.stats__info {
    display: flow;
    text-align: center;
    /* margin-left: 1rem; */
    padding: 10px;
    border: 2px solid var(--white);
    box-shadow: 0px 0px 9px 1px var(--white);
    font-size: 1rem;
    font-weight: var(--ft-normal);
    width: 140px;
    height: 100px;
}
.stats__info:not(:first-child){
    margin-left: 1rem;
}
.stats__info > p {
    font-size: 1.5rem;
    font-weight: var(--ft--bold);
}
.scratchStats__displayCards {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
    width: 95%;
    height: 95%;
    max-height: 659px;
    padding: 0;
    margin: 0;
    /* background-color: var(--secondary); */
}
.displayCards__info{
    display: flex;
    margin: 0.5rem 0 2rem 1rem;
}
.scratchCards {
    display: flex;
    width: 95%;
    height: 430px;
    margin: 0 auto 0 1rem;
    background-color: lightblue;
    border: 5px solid var(--white);
    box-shadow: 0px 0px 9px 1px var(--white);
}
.display__card {
    margin: 1rem;
    width: 400px;
    height: 400px;
}
.display__card__img {
    height: 200px;
    width: 150px;

    img {
        width: 100%;
        height: 100%;
    }
}
.card__stats__showStats {
    display: none;
}
.display__card__info {
    height: 160px;
    /* display: grid; */
}
.showStats {
    position: absolute;
    background-color: lightblue;
    width: 95%;
    height: 80%;
    border: 8px solid var(--primary);
    margin: 0;
    padding: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 9;
}
.stats__info {

}
.stats__info__details {
    
}
.stats__info__flex{
    display: flex;
}
.stats__info__cardName {
    font-size: var(--fts-lmed);
}

#stats-btn {
    position: absolute;
    right: 5px;
    margin-top: 2px;
}
#btn-refreshStats {
    position: absolute;
    right: 3.5rem;
    margin-top: 2.5rem;
}
#btn-closeCardStats {
    position: absolute;
    right: 1rem;
    margin-top: 0.5rem;
    min-width: 20px;
    min-height: 20px;
}
